cache_addresses:
  - http://[minio_address]:9000/bucket_name
aws_secret_key: [minioadmin_secret_key]
aws_access_key: [minioadmin_access_key]
aws_region: eu-central-1
aws_service: s3
mode: producer
primary_branch: main
primary_repo: https://github.com/imWildCat/XCRemoteCacheSampleProject.git

# xcremotecache/xcprepare integrate --input XCRemoteCacheSampleProject.xcodeproj --mode producer
# xcremotecache/xcprepare integrate --input XCRemoteCacheSampleProject.xcodeproj --mode consumer
