cache_addresses:
- http://localhost:8080/cache
mode: consumer
primary_branch: main
primary_repo: https://github.com/imWildCat/XCRemoteCacheSampleProject.git

# xcremotecache/xcprepare integrate --input XCRemoteCacheSampleProject.xcodeproj --final-producer-target XCRemoteCacheSampleProject --mode producer
# xcremotecache/xcprepare integrate --input XCRemoteCacheSampleProject.xcodeproj --final-producer-target XCRemoteCacheSampleProject --mode consumer
